NAME = "__DATASTORE_NAME__"
TYPE = "FILE_DS"
TM_MAD = "shared"
DS_MAD = "fs"
SPARKAI_CSI_SHARE_BACKEND = "cephfs"
SPARKAI_CSI_CEPHFS_FS_NAME = "__CEPHFS_NAME__"
SPARKAI_CSI_CEPHFS_ROOT_PATH = "__CEPHFS_ROOT_PATH__"
SPARKAI_CSI_CEPHFS_SUBVOLUME_GROUP = "__CEPHFS_SUBVOLUME_GROUP__"
CEPH_HOST = "__CEPH_HOST__"
__CEPHFS_MOUNT_OPTIONS_LINE__
__CEPH_CONF_LINE__
