NAME = "__DATASTORE_NAME__"
TM_MAD = "ceph"
TYPE = "SYSTEM_DS"
DISK_TYPE = "RBD"
POOL_NAME = "__CEPH_POOL_NAME__"
CEPH_HOST = "__CEPH_HOST__"
CEPH_USER = "__CEPH_USER__"
CEPH_SECRET = "__CEPH_SECRET__"
BRIDGE_LIST = "__BRIDGE_LIST__"
RBD_FORMAT = "__RBD_FORMAT__"
__CEPH_CONF_LINE__
__CEPH_KEY_LINE__
