NAME = "__DATASTORE_NAME__"
DS_MAD = "ceph"
TM_MAD = "ceph"
TYPE = "IMAGE_DS"
DISK_TYPE = "RBD"
POOL_NAME = "__CEPH_POOL_NAME__"
CEPH_HOST = "__CEPH_HOST__"
CEPH_USER = "__CEPH_USER__"
CEPH_SECRET = "__CEPH_SECRET__"
BRIDGE_LIST = "__BRIDGE_LIST__"
COMPATIBLE_SYS_DS = "__COMPATIBLE_SYS_DS__"
RBD_FORMAT = "__RBD_FORMAT__"
STAGING_DIR = "__STAGING_DIR__"
__CEPH_CONF_LINE__
__CEPH_KEY_LINE__
