IMAGE_REPOSITORY=docker.io/nudevco/omni-infra-provider-opennebula
IMAGE_TAG=0.1.0
OMNI_ENDPOINT=https://omni.example.com
OMNI_SERVICE_ACCOUNT_KEY=
OPENNEBULA_USERNAME=oneadmin
OPENNEBULA_PASSWORD=changeme
OPENNEBULA_SESSION=
